spring.application.name=ms-inventario
server.port=8082

springdoc.api-docs.enabled=true
springdoc.swagger-ui.enabled=true
springdoc.swagger-ui.path=/doc/swagger-ui.html

ms.producto.url=http://localhost:8080

spring.datasource.url=XXXXXXXXXXXXX
spring.datasource.username=XXXXXXXX
spring.datasource.password=XXXXXXXX
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.OracleDialect

logging.level.org.hibernate.SQL=DEBUG
logging.level.com.zaxxer.hikari=DEBUG