# Ignora todas las carpetas target sin importar en qué microservicio estén
**/target/

# Ignora archivos de configuración de IDEs
.idea/
.vscode/
*.iml

# Ignora archivos compilados sueltos
*.class

# Ignora todos los application.properties en cualquier ruta del repo
**/application.properties