spring.application.name=ms-producto
server.port=8080

ms.categoria.url=http://localhost:8083

# Oracle Autonomous DB (Wallet)
spring.datasource.url=XXXXXXXXXXXXX
spring.datasource.username=XXXXXXXX
spring.datasource.password=XXXXXXXX
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.OracleDialect

# Logs
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging.level.com.zaxxer.hikari=DEBUG