# CONFIGURACIÓN BASE (Común para todos los entornos)
spring:
  application:
    name: ms-lote
  datasource:
    # Configuración de tu Wallet local (ruta específica proporcionada)
    url:xxxxxxxx
    username: lote_bodega
    password: FullStack-001
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true

server:
  port: ${PORT: 8085} # IE 3.3.1: Puerto dinámico para PaaS

# Registro en Eureka (IE 3.3.2: Obligatorio para arquitectura distribuida)
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL: http://localhost:8761/eureka/}

# Trazabilidad técnica (IE 2.3.1)
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.zaxxer.hikari: DEBUG
    java.sql: DEBUG

---
# PERFIL DE DESARROLLO (Local)
spring:
  config:
    activate:
      on-profile: dev
ms:
  producto:
    url: http://localhost: 8080 # URL fija para pruebas locales [4]

---
# PERFIL REMOTO (Docker / PaaS)
spring:
  config:
    activate:
      on-profile: remote
ms:
  producto:
    url: lb://ms-producto # IE 3.3.3: Balanceo de carga dinámico vía Gateway [5, 6]