# Nombre del microservicio
spring.application.name=ms-usuario

# Puerto asignado para evitar conflictos con los otros servicios (IE 1.2.1)
server.port=8081

# Configuración Oracle Autonomous DB (Wallet) - Consistente con ms-producto e ms-inventario
spring.datasource.url=jdbc:oracle:thin:@hospitalv11_high?TNS_ADMIN=C:/Users/Fuyu/Desktop/Duoc/Semestre3/FullStack1
spring.datasource.username=usuario_bodega
spring.datasource.password=FullStack-001
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

# JPA y Hibernate (IE 2.1.1)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.OracleDialect

# Configuración de Logs para Trazabilidad y Debugging (IE 2.3.2)
logging.level.org.hibernate.SQL=DEBUG
logging.level.com.example.ms_usuario=DEBUG
logging.level.com.zaxxer.hikari=DEBUG