spring.application.name=ms-auditoria

# Springdoc OpenAPI
springdoc.api-docs.enabled=true
springdoc.swagger-ui.enabled=true
springdoc.swagger-ui.path=/doc/swagger-ui.html

# Oracle Autonomous DB (Wallet)
spring.datasource.url=XXXXXXXXXXXXX
spring.datasource.username=XXXXXXXX
spring.datasource.password=XXXXXXXX
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.OracleDialect
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Logs
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging.level.com.zaxxer.hikari=DEBUG
logging.level.java.sql=DEBUG


ms.usuario.url=http://localhost:8081
server.port=8087
