spring.application.name=ms-movimiento
server.port=8084

# URLs de comunicación (Interoperabilidad IE 2.4.1)
ms.producto.url=http://localhost:8080
ms.inventario.url=http://localhost:8082

# Configuración de base de datos (Oracle Wallet)
spring.datasource.url=XXXXXXXXXXXXX
spring.datasource.username=XXXXXXXX
spring.datasource.password=XXXXXXXX
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver

# JPA y Logs
spring.jpa.hibernate.ddl-auto=update
logging.level.com.example.ms_movimiento=DEBUG